 <%= form_with model: @task do |f| %>
  <div class="form-group my-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group my-2">
    <%= f.label :details %>
    <%= f.text_area :details, class: "form-control" %>
  </div>
  <% unless @task.new_record? %>
    <div class="form-group my-2">
      <%= f.check_box :completed, class: "form-check-input" %>
      <%= f.label :completed %>
    </div>
  <% end %>
  <%= f.submit class: "btn btn-outline-secondary my-3" %>
<% end %>
